body {
    padding-left: 15px;
}

h1 {
    color: green;
}

.wall-comment {
    border: 1px solid;
    width: 480px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wall-post {
    border: 1px solid;
    width: 500px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wall-post h2 {
    padding-left: 5px;
    text-transform: uppercase;
}

.wall-post .text {
    padding: 5px;
}

.wall-post .fotter {
    font-size: 10px;
    padding-left: 5px;
}

.wall-post .fotter .date {
    font-style: italic;
}
